/* 引入字體 (外部資源引入方最上面)*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

/* boots5 icon*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS Rest */
@import "./cssRest.css";

/* varible */
@import "./varible.css";


/*Label basic style*/
@import "./base.css";

/*通用樣式*/
@import "./utils.css";


/* 元件 */
@import "./element.css";

/* Layout */
.copyright {
  padding-top: 32px;
  text-align: center;
  border-top: 1px solid var(--neutral-300);
  font-size: 14px;
  color: var(--neutral-600);
}
